body {
  padding-left: 13vw;
  padding-right: 13vw;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
}

.logo img {
  width: 104.53px;
  height: 50.19px;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 268px;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  cursor: pointer;
}

.memoji {
  margin-top: 10%;
}

.memoji img {
  width: 260px;
  height: 220px;
  margin-bottom: 30px;
  margin-left: -70px;
}

.hello {
  font-family: 'Playfair Display', serif;
  font-size: 55px;
  font-weight: 900;
  margin-top: 0.5%;
}

.designer {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: lighter;
  color: #424242;
  line-height: 65px;
  margin-top: 1.8%;
}

.selectedWork {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  color: #c4c4c4;
  cursor: pointer;
}

.text {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}

.downArrow {
  padding-top: 12px;
  padding-bottom: 35px;
}

.first, .second {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#work {
  background: white;
  height: 57%;
}

.thumbnail {
  padding-top: 13%;
  padding-bottom: 20%;
}

.thumbnail img {
  padding: 0.7%;
  width: 49%;
  height: 49%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#footer {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5%;
  padding: 20px;
}

.line {
  padding-bottom: 0px;
  border-bottom: 2px solid #dadada;
}

.copyRight {
  display: flex;
  align-items: center;
}

.contect {
  display: flex;
  justify-content: space-between;
  width: 365px;
}

.contect li {
  display: inline-block;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  cursor: pointer;
}
