body {
  padding-left: 13vw;
  padding-right: 13vw;
  background-color: #FCFCFF;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
}

.logo img {
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  cursor: pointer;
  margin-left: 2vw;
}

.memoji {
  padding-top: 14vmin;
  background-color: #FCFCFF;
}

.memoji img {
  margin-left: -70px;
}

.hello {
  font-family: 'Playfair Display', serif;
  font-size: 52px;
  font-weight: 900;
  padding-top: 3vh;
}

.designer {
  font-family: 'Playfair Display', serif;
  font-size: 38px;
  font-weight: lighter;
  color: #464646;
  line-height: 65px;
  padding-top: 2.8vh;
}

.selectedWork {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 18vh;
  color: #c4c4c4;
  cursor: pointer;
}

.text {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}

.downArrow {
  padding-top: 1.11vh;
}

#workGrid {
  display: grid;
  grid-template-rows: 40vh 40vh;
  grid-template-columns: 36vw 36vw;
  grid-template-areas:
  "travalert csa"
  "oneforall pact";
  justify-content: center;
  padding-bottom: 25vh;
}

#travalert {
  grid-area: travalert;
  background-image: url("../images/TravAlert.png");
  border-radius: 6px;
}

#csa {
  grid-area: csa;
  background-image: url("../images/CSA.png");
  border-radius: 6px;
}

#oneforall {
  grid-area: oneforall;
  background-image: url("../images/OneforAll.png");
  border-radius: 6px;
}

#pact {
  grid-area: pact;
  background-image: url("../images/PACT.png");
  border-radius: 6px;
}

.workGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0.35vw;
  cursor: pointer;
  display: grid;
  align-content: end;
}

#footer {
  display: flex;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.85vh;
}

.line {
  padding-bottom: 0px;
  border-bottom: 2px solid #dadada;
}

.contect {
  display: flex;
  justify-content: space-between;
}

.contect li {
  display: inline-block;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  cursor: pointer;
  margin-left: 3vw;
}
